/*
**********BASIC SETUP**********
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    text-rendering: optimizeLegibility;
    background-color: #fff;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;    
}

/* ------------------------ */
/* REUSABLE COMPONENT */
/* ------------------------ */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

header {
    height: 100vh;
}

nav {
    height: 10%;
}

.container-color {
    background: linear-gradient(90deg, #FDBD41 -4.86%, #FC7458 106.49%);
    width: 100%;
    height: 100%;
}

.logo img {
    margin-top: 20px;
    margin-left: 70px;
}
.main-nav {
    float: right;
    list-style: none;
}
.main-nav li {
    display: inline-block;
    margin-right: 80px;
    margin-top: 35px;
}

.main-nav li button {
    border: 0;
    color: #fff;
    background: none;
    cursor: pointer;
    
}

.text-box {
    position: absolute;
    top: 30%;
    left: 15%;
}

.main-container {
    background-image: url(img/main-background.png);
    background-size: cover;
    background-position: fixed;
    height: 90%;
    width: 100%;
    float: left;
}



.h1-title {
    color: #F43E3B;
}


/*
**********BUTTON**********
*/
.btn:link,
.btn:visited {
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 30px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
    transition: background-color 0.5s, color 0.5s
}

.btn-ghost {
    color: #FDBD41;
    border: solid 1px #FDBD41;
}

.btn-full {
    background: linear-gradient(90deg, #FDBD41 -6.87%, #FC8254 108.75%);
    color: #fff;
    border: solid 1px #FDBD41;
    
}
.btn-fb {
    width: 100%;
    background-color: #2767D3;
    color: #fff;
    padding: 19px 20px;
}

.btn-gg {
    width: 100%;
    color: #000;
    border: 1px solid #FDBD41;
}

.btn:hover,
.btn:active {
    background: #fcab0f;
}

.btn-full:hover,
.btn-full:active {
    background: #fcab0f;
}

.btn-ghost:hover,
.btn-ghost:active {
    background: #fcab0f;
    color: #fff;
}

.btn:hover,
.btn:active {
    background: #fcab0f;
}
/*
*****************POP UP**************
*/

.modal {
    padding: 80px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    max-width: 80%;
    background-color: #fff;
    z-index: 10;    
}

.modal.active {
    transform: translate(-50%,-50%) scale(1);
}

.row-sign {
    width: 100%;
    margin: 1% auto;
    text-align: center;
}

.btn-close {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 300%;
    color: rgb(219, 219, 219);
    float: right;
    margin-bottom: 50px;
}

.btn-close:hover{
    background: none;
}

.partition {
    height: 200%;
}

.partition hr {
    display: inline-block;
    width: 30%;
}

.partition p {
    display: inline-block;
    padding-top: 7px;
    margin: 0 45px;
    font-size: 15px;
    vertical-align: middle;
    height: 110%;
}

.logo-google {
    display: inline-block;
}

*:focus {outline: none;}


.popup-form {
    width: 100%;
    margin: 0 auto;
}

input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgb(218, 218, 218);
    padding: 19px 20px;
}

input[type="submit"] {
    background: linear-gradient(90deg, #FDBD41 0%, #FC8553 104.34%);
    color: #fff;
    margin-top: 30px;
    cursor: pointer;
}

#overlay {
    position: fixed;
    opacity: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0 ,0 ,0 , .5);
    transition: 200ms ease-in-out;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}